body {
    background: #232323;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: white;
    margin-top: 0;
    padding: 5%;
    text-align: center;
}

#message {
    color: red;
}

.msgContainer {
    text-align: center;
}

.square {
    padding-bottom: 30%;
    border-radius: 20%;
    width: 30%;
    float: left;
    background: purple;
    margin: 1.66%;
}